<div class="loginContainer">

  <h1>Login</h1>
  <div class="loginDiv">
    <form id="loginForm">

      <label>Email</label>
      <input name="email" />
      <label>Contraseña</label>
      <input type="password" name="password" />
      <button type="submit">Enviar</button>

    </form>
  </div>

  <p>O ingresar por</p>
  <a href="/api/sessions/github"><button>Github</button></a>
    <P>¿Olvidaste tu Contraseña?</p>
  <a href="/restorePassword">restablecela aqui</a></P>

</div>

<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>