
<h1 class="titulo">Productos en tiempo real</h1>

<div id="product-container">
  {{! Aquí se mostrarán los productos }}
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/index.js"></script>
