* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h1 {
  color: #634133;
  margin-top: 30px;
  margin-bottom: 30px;
}

.saludo {
  position: absolute;
  top: 85px;
  left: 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saludo h1{
  margin-bottom: 3px;
}

.saludo p {
  color: #634133;
  font-size: 15px;
}

.logoutContainer {
  position: absolute;
  top: 85px;
  right: 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoutContainer button {
  background-color: transparent;
  border: 2px solid #634133;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  color: #634133;
  margin-top: 20px;
  cursor: pointer;
}

#product-container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

.cardContainer {
  flex-basis: 30%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
  height: 400px;
  border-radius: 15px;
  background-color: white;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 3px 19px -3px #000000;
  box-shadow: 1px 3px 19px -3px #000000;
}

.cardTitle{
  font-size: 18px;
  color: #634133;
}

.price {
  color: #634133;
  font-weight: bolder;
}
.imgConteiner {
  width: 100px;
}
.imgConteiner img {
  width: 100%;
  object-fit: cover;
}

#pageHandler {
  width: 80vw;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageHandler p {
  margin: 20px;
  color: #634133;
  font-size: 15px;
  font-weight: bold;
}

#pageHandler button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #634133;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: black;
}
#controles {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#controles form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#controles select {
  margin-right: 30px;
  margin-left: 5px;
}

#controles button {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #634133 !important;
  margin-top: 30px;
  background-color: white;
  color: #634133;
  cursor: pointer;
}
#controles select {
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #634133 !important;
  background-color: white;
  color: #634133;
}
.cardContainer button {
  margin-top: 10px;
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #634133 !important;
  background-color:white;
  color: black;
  cursor: pointer;
}
#labels {
  color: #634133;
  margin-top: 5px;
}